[Unit]
Description=Update Letsencrypt certificates
Requires={{ hlws_letsencrypt_dir[1:] | replace('/', '-') }}.mount network-online.target

[Service]
Type=oneshot
Environment=AWS_CONFIG_FILE={{ hlws_letsencrypt_dir }}/aws.ini
ExecStart=/usr/bin/certbot renew
